.container{
    font-family: 'Poppins', sans-serif;
}

.row{
  
    // align-items: center;
    padding-bottom: 5%;
}

.content{
    background-color: black;
    color: white;
}



h5::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
}

.text-cement{
    color: #808080;
}

.education-line{
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #222;
    position: relative;
}

.education-line::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #222;
    border: 2px solid #4ceb95;
}

.content-education h4{
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -3px;
    font-weight: bold;
    color: #4ceb95;
    
}
.content-education ul li{
    font-size: 13.5px;
}