<div class="content">
    <div class="container pt-5">
        <div class="mb-5 mt-5 text-uppercase">
            <h5 class="pt-5 text-cement" data-aos="fade-up" data-aos-anchor-placement="center-center">Education</h5>
            <!-- <p class="h2 fw-bold"data-aos="fade-up" data-aos-duration="200">My Services</p> -->
        </div>
        <div class="row" data-aos="fade-up" data-aos-anchor-placement="top-center">
            <div class="col-lg-6">
                <div class="education-line">
                    <div class="content-education">
                        <h4 class="text-uppercase">Bachelor Of Computer Engineering</h4>
                        <p>2020-2024</p>
                        <p>Anjuman College of Engineering & Technology (ACET), Nagpur</p>
                        <ul>
                            <li class="mb-2">Rashtrasant Tukadoji Maharaj Nagpur University</li>
                            <li class="mb-2">Agreegate Percentage - Unavailable</li>
                        </ul>
                    </div>
                </div>
                <div class="education-line">
                    <div class="content-education">
                        <h4 class="text-uppercase">12th ( Science )</h4>
                        <p>2019-2020</p>
                        <p>Tejaswini Junior College Koradi-Nagpur</p>
                        <ul>
                            <li class="mb-2">Maharashtra State Board of Secondary and Higher Secondary Education</li>
                            <li class="mb-2">Percentage - 84.31%</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="education-line">
                    <div class="content-education">
                        <h4 class="text-uppercase">10th class</h4>
                        <p>2017-2018</p>
                        <p>Pragatik Madhyamik Vidyalaya Koradi (PMVK), Nagpur</p>
                        <ul>
                            <li class="mb-2">Maharashtra State Board of Secondary and Higher Secondary Education</li>
                            <li class="mb-2">Percentage - 85.00%</li>
                        </ul>
                    </div>
                </div>
                <div class="education-line">
                    <div class="content-education">
                        <h4 class="text-uppercase">Angular Web developer</h4>
                        <p>2022-2023</p>
                        <p>S2P EDUTECH Pvt. Ltd Nagpur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>