<div class="content">
    <div class="container pt-5">
        <div class="mb-5 mt-5 text-uppercase" >
            <h5 class="pt-5 text-cement" data-aos="fade-up" data-aos-anchor-placement="center-center">Services</h5>
            <p class="h2 fw-bold" data-aos="fade-up" data-aos-anchor-placement="center-center">My Services</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="services mb-2" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-anchor-placement="top-center">
                    <div class="card">
                        <div class="box">
                            <i class="fa fa-paint-brush brush mt-5 mb-3"></i>
                            <p class="fw-bold h4">Web Design</p>
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo
                                enim.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="services mb-2" data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-anchor-placement="top-center">
                    <div class="card">
                        <div class="box">
                            <i class="fa fa-line-chart chart mt-5 mb-3"></i>
                            <p class="fw-bold h4">Lorem</p>
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo
                                enim.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="services mb-2" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-anchor-placement="top-center">
                    <div class="card">
                        <div class="box">
                            <i class="fas fa-code code mt-5 mb-3"></i>
                            <p class="fw-bold h4">App Design</p>
                            <div class="card-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo
                                enim.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>