<div class="content">
    <div class="container pt-5">
        <div class="mb-1 mt-5 text-uppercase">
            <h5 class="pt-5 text-cement" data-aos="fade-up" data-aos-duration="100">Skills</h5>
        </div>
        <div class="row text-white fw-bold text-uppercase">
            <div class="col-lg-6">
                <div data-aos="fade-up-right" data-aos-duration="3000" data-aos-anchor-placement="top-center">
                    <div class="d-flex justify-content-between my-2">
                        <span>HTML</span>
                        <span>90%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill" [ngStyle]="{'width.%': 90  }"></div>
                    </div>
                </div>
                <div data-aos="fade-up-right" data-aos-duration="3000" data-aos-anchor-placement="top-center">
                    <div class="d-flex justify-content-between my-2">
                        <span>Css</span>
                        <span>70%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill" [ngStyle]="{'width.%': 70  }"></div>
                    </div>
                </div>
                <div data-aos="fade-up-right" data-aos-duration="3000" data-aos-anchor-placement="top-center">
                    <div class="d-flex justify-content-between my-2">
                        <span>Angular</span>
                        <span>60%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill" [ngStyle]="{'width.%': 60  }"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div data-aos="fade-up-left" data-aos-duration="3000" data-aos-anchor-placement="top-center">
                    <div class="d-flex justify-content-between my-2">
                        <span>Node.js</span>
                        <span>50%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill" [ngStyle]="{'width.%': 50  }"></div>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="3000" data-aos-anchor-placement="top-center">
                    <div class="d-flex justify-content-between my-2">
                        <span>Typescript</span>
                        <span>55%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill" [ngStyle]="{'width.%': 55  }"></div>
                    </div>
                </div>
                <div data-aos="fade-up-left" data-aos-duration="3000" data-aos-anchor-placement="top-center">
                    <div class="d-flex justify-content-between my-2">
                        <span>Bootstrap</span>
                        <span>80%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-bar-fill" [ngStyle]="{'width.%': 80  }"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>