<div class="background">
    <div class="content">
        <app-header></app-header>
        <div>
            <div id="Home">
                <app-home></app-home>
            </div>
        
            <div id="About">
                <app-about></app-about>
            </div>
            
            <div id="Skills">
                <app-skills></app-skills>
            </div>
            
            <div id="Services">
                <app-services></app-services>
            </div>
        
            <div id="Education">
                <app-education></app-education>
            </div>
            
            <div id="Contact">
                <app-contact></app-contact>
            </div>

        </div>
        <app-footer></app-footer>
    </div>
</div>
