.background{
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.99)), url('../../../assets/img/samuel-scalzo-xyuYk9oLA8I-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.content{
    height: 4000px;
}

