.footer-heading{
    font-size: small;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-bottom: 20px;
}

li{
    list-style: none;
}

i{
    margin: 10px;
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: #222;

}

.facebook{
    padding-left: 13px;
    padding-right: 13px;
    color: white;
}
.content{
    background-color: black;
}

.twitter:hover{
    background-color: #18d26e;
    transform: scale(1.3);
}
.facebook:hover{
    background-color: #18d26e;
    transform: scale(1.3);
}
.instagram:hover{
    background-color: #18d26e;
    transform: scale(1.3);
}
.linkedin:hover{
    background-color: #18d26e;
    transform: scale(1.3);
}