<div class="content">
    <div class="container text-center">
        <div>
            <ul class="d-flex justify-content-center me-4">
                <li><i class='fab fa-twitter twitter'></i></li>
                <li><i class='fab fa-facebook-f facebook'></i></li>
                <li><i class='fab fa-instagram instagram'></i></li>
                <li><i class='fab fa-linkedin-in linkedin'></i></li>
            </ul>
        </div>
        <p class="footer-heading">© Copyright Portfolio. All Rights Reserved</p>
    </div>
</div>