<div class="content">
    <div class="container pt-5">
        <div class="mb-3 text-uppercase">
            <h5 class="pt-5 text-cement" data-aos="fade-up" data-aos-duration="100">About</h5>
            <p class="h2 fw-bold" data-aos="fade-up" data-aos-duration="200">Learn More About Me</p>
        </div>
        <div class="row">
            <div class="col-lg-4 my-5 text-center">
                <img src="../../../../assets/img/Picsart_22-12-12_10-31-08-272.jpg" data-aos="fade-right" data-aos-duration="2500" class="rounded-2 img-fluid" alt="">
            </div>
            <div class="col-lg-7 my-5" data-aos="fade-left" data-aos-duration="2500">
                <p class="h4 fw-bold text-green text-uppercase">Hello</p>
                <P class="my-3">My Name is Harshal. I'm a MEAN Stack Developer, currently doing internship in S2P EDUTECH</P>
                <div class="row my-3">
                    <div class="col-lg-5">
                        <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-right text-green" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg></i><Strong class="mx-2">Birthday:</Strong><span>19 sep 2002</span>
                    </div>
                    <div class="col-lg-6">
                        <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-right text-green" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg></i><Strong class="mx-2">Age:</Strong><span>20</span>

                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-5">
                        <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-right text-green" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg></i><Strong class="mx-2">Phone:</Strong><span>+91 9359300844</span>
                    </div>
                    <div class="col-lg-7">
                        <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-right text-green" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg></i><Strong class="mx-2">Email:</Strong><span>harshalmaheshram10@gmail.com</span>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-5">
                        <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-right text-green" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg></i><Strong class="mx-2">City:</Strong><span>New Koradi, Nagpur</span>
                    </div>
                    <div class="col-lg-7">
                        <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-right text-green" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg></i><Strong class="mx-2">Degree:</Strong><span>Unavailable</span>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>