/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.carousel-control-next-icon {
    position: relative;
    right: -120px;
}

.carousel-control-prev-icon {
    position: relative;
    left: -120px;
}
