<div class="content pb-5 pt-5   ">
    <div class="container">
        <div class="mb-4 text-uppercase" data-aos="fade-up" data-aos-duration="500"
            data-aos-anchor-placement="center-center">
            <h5 class="pt-5 text-cement">Contact</h5>
            <p class="h2 fw-bold">Contact Me</p>
        </div>
    </div>
    <div class="container light-black pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <span>
                    <i class='fas fa-map-marker-alt location'></i>
                </span>
                <span class="px-4">
                    <h4 class="text-cement poppins fw-bold">Location:</h4>
                    <p>New Koradi, Nagpur 44111, Maharashtra</p>
                </span>

            </div>
            <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <span>
                    <i class="fa fa-envelope envelope"></i>
                </span>
                <span class="px-4">
                    <h4 class="text-cement poppins fw-bold">Email:</h4>
                    <p>harshalmaheshram10@gmail.com</p>
                </span>

            </div>
            <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <span>
                    <i class='fas fa-mobile-alt mobile'></i>
                </span>
                <span class="px-4">
                    <h4 class="text-cement poppins fw-bold">Call:</h4>
                    <p>+91 9856700244</p>
                </span>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 mt-4">
                <input type="text" placeholder="Your Name" class="form-control rounded-1" data-aos="fade-right"
                    data-aos-duration="2500">
            </div>
            <div class="col-lg-5 my-4">
                <input type="text" placeholder="Your Email" class="form-control rounded-1" data-aos="fade-left"
                    data-aos-duration="2500">
            </div>
        </div>
        <div class="row mb-4 justify-content-center" data-aos="fade-up" data-aos-duration="2500">
            <div class="col-lg-10">
                <input type="text" placeholder="Subject" class="form-control rounded-1">
            </div>
        </div>
        <div class="row my-4 justify-content-center" data-aos="fade-up" data-aos-duration="2500">
            <div class="col-lg-10">
                <textarea name="" id="" cols="30" rows="4" class="form-control rounded-1"
                    placeholder="Message"></textarea>
            </div>
        </div>
        <div class="text-center" data-aos="fade-up" data-aos-duration="2500">
            <button class="btn text-green btn-green rounded-1 px-4 py-2 mb-4 poppins">Send Message</button>
        </div>
    </div>
</div>